[Unit]
Description=GTFS Proxy
After=network-online.target
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=notify
WorkingDirectory=/home/gtfs
User=gtfs
Group=gtfs
ExecStart=/usr/local/bin/gtfsproxy serve --domain=gtfsproxy.fwan.it
AmbientCapabilities=CAP_NET_BIND_SERVICE
Type=exec
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
