[Unit]
Description=GTFS Download
Wants=gtfsdownload.timer

[Service]
User=gtfs
Group=gtfs
WorkingDirectory=/home/gtfs
ExecStart=/usr/local/bin/gtfsproxy download

[Install]
WantedBy=multi-user.target
